html, body {
  margin: 0;
  padding: 0;
}



.timeDate {
  font-size: 16px;
  font-family: "Courier New", "Lucida Console", monospace;  
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  color: #ffffff;   
  background-color: teal;
  transition-duration: 0.4s;
}

.timeDate:hover {
  background-color: #1ea1a1; /* Green */
  color: white;
}

.inputfield {
//  border: 3px solid #155;
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 0.2em;
}

.currentdata {
//  border: 3px solid #155;
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 0.2em;
  background-color: black;
  color: white;
  margin: 2px;
  padding: 4px;
}

.selector {
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 0.3em;
}

.newCheckbox {
  width: 33px;
  height: 33px;  
}

.timeDateInput {
  font-family: "Courier New", "Lucida Console", monospace;
  font-size: 26px;
  text-align: center;
  border: none;
  border-radius: 0.2em;
}


/*********************************************************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
/* COMMENT: there was a typo here, uses to be .siwtch */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#toggle:checked + .slider {
  background-color: #24C106;  /*  background color when checked   */
}

#toggle:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#toggle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*+++++++++++++++++++++++++++++ toggle1 ++++++++++++++++++++++++++++++++++*/
#toggle1:checked + .slider {
  background-color: #24C106;  /*  background color when checked   */
}

#toggle1:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#toggle1:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++ toggle2 ++++++++++++++++++++++++++++++++++*/
#toggle2:checked + .slider {
  background-color: #24C106;  /*  background color when checked   */
}

#toggle2:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#toggle2:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++++++++++++++++ toggle3 ++++++++++++++++++++++++++++++++++*/
#toggle3:checked + .slider {
  background-color: #24C106;  /*  background color when checked   */
}

#toggle3:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#toggle3:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*********************************************************/

.discButton {
  font-size: 18px;
  font-family: "Courier New", "Lucida Console", monospace;
}

.faceButton {
/*    height: 150px;
    width: 220px;  */
    border-radius: 0.2em;
    cursor: pointer;
}

/*******************  checkbox styling *********************

.checkbox input[type="checkbox"] {
  opacity: 0;
//  cursor: pointer;
}

.checkbox label::before{
    content: "";
    display: inline-block;
    
    height: 18px;
    width: 18px;
    
    border: 2px solid;   
}

.checkbox label::after {
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
}

.checkbox label {
    position: relative;
}
.checkbox label::before,
.checkbox label::after {
    position: absolute;
}
/*Outer-box*/
.checkbox label::before {
    top: 3px;
}
/*Checkmark*/
.checkbox label::after {
    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
/*Unhide the checkmark on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 52) auto 5px;
}
*********************************************************/

